* {
  margin: 0; /* sacamos el argen por defecto */
  padding: 0; /* sacamos el padding por defecto */
  box-sizing: border-box; /* al agregarle padding a un elemento no ocupa mas espacio, resta del ya existente */
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

.encabezado {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right, #8f4f4f 0%, #9c7575 100%);
}
.encabezado img.logo {
  width: 12rem;
}
.encabezado .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  width: 100rem;
  font-size: 1.5rem;
}
.encabezado .menu .nav-link {
  color: #d4b4b4;
  font-weight: 1000;
  font-size: 2rem;
}
.encabezado .menu .nav-link:hover {
  color: #e2d1d1;
}

section {
  background-color: #d4b4b4;
}

footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 30rem;
  font-family: "Montserrat", sans-serif;
  color: #d4b4b4;
  font-size: 2rem;
  background: linear-gradient(to right, #8f4f4f 0%, #9c7575 100%);
}
footer .cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 25rem;
  gap: 40rem;
}
footer .cont-logo {
  width: 16rem;
  height: 16rem;
}
footer .cont-logo-int {
  width: 15rem;
  height: 15rem;
}
footer .cont-logo-int:hover {
  width: 15.5rem;
  height: 15.5rem;
  transition: all 0.5s;
}
footer .cont-rs-icon {
  padding: 0 1rem;
}
footer .cont-rs-icon-links {
  color: #d4b4b4;
}
footer .cont-rs-icon-links:hover {
  color: #e2d1d1;
  transition: all 0.5s;
}
footer .cont-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
footer .copy, footer .cont-rs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carousel-item {
  width: 190rem;
  height: 80rem;
}

.titulo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.titulo-int {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5rem 0;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 1000;
  text-align: center;
  background: linear-gradient(to right, #8f4f4f 0%, #9c7575 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7rem;
  padding-bottom: 7rem;
}
.contenedor-int {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7rem;
}
.contenedor-int-card {
  width: 35rem;
  height: 40rem;
  border-radius: 3rem;
  box-shadow: 0.5rem 0.5rem 2rem #8f4f4f;
  overflow: hidden;
}
.contenedor-int-card-img {
  width: 35rem;
  height: 40rem;
  border-radius: 3rem;
  transition: all 0.5s;
}
.contenedor-int-card-intro {
  width: 35rem;
  height: 25rem;
  font-family: "Montserrat", sans-serif;
  color: #e2d1d1;
  text-align: center;
  font-weight: 1000;
  background: rgba(124, 69, 69, 0.6);
  box-sizing: border-box;
  position: relative;
  bottom: 3.7rem;
  transition: all 0.5s;
}
.contenedor-int-card-intro-titulo {
  font-size: 2.5rem;
}
.contenedor-int-card-intro-des {
  font-size: 2rem;
  padding: 1rem 2rem;
}
.contenedor-int-card:hover .contenedor-int-card-intro {
  transition: 0.5s ease;
  bottom: 19rem;
  background: rgba(124, 69, 69, 0.8);
}
.contenedor-int-card:hover .contenedor-int-card-img {
  transform: scale(1.1) rotate(-3deg);
}

.tp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6rem;
}
.tp-text {
  width: 150rem;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  background: linear-gradient(to right, #8f4f4f 0%, #9c7575 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 1000;
  padding: 2rem;
  text-align: center;
}
.tp-text-cont {
  background: #8f4f4f;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 1000;
}
.tp-text-cont:hover {
  background: #6e3333;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.tp-ext {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 140rem;
  height: 54rem;
}
.tp-ext-img {
  width: 0;
  height: 50rem;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}
.tp-ext-img:hover {
  width: 30rem;
  opacity: 1;
  filter: contrast(120%);
}

.pc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 7rem;
}
.pc-contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  padding-top: 7rem;
}
.pc-contenedor-linea {
  position: absolute;
  width: 130rem;
  height: 0.4rem;
  background: linear-gradient(to right, #8f4f4f 0%, #9c7575 100%);
  z-index: 0;
}
.pc-contenedor-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 40rem;
  height: 25rem;
  z-index: 1;
  overflow: hidden;
  border-radius: 5rem;
  box-shadow: 0.5rem 0.5rem 2rem #8f4f4f;
}
.pc-contenedor-img-int {
  width: 40rem;
  height: 25rem;
  border-radius: 5rem;
  transition: all 0.5s;
}
.pc-contenedor-img:hover .pc-contenedor-img-int {
  width: 42rem;
  height: 27rem;
  transform: scale(1.1) rotate(-3deg);
}
.pc-contenedor-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #8f4f4f 0%, #9c7575 100%);
  z-index: 1;
  border-radius: 4rem;
  width: 50rem;
  height: 45rem;
}
.pc-contenedor-text-int {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  width: 49.6rem;
  height: 44.6rem;
  color: black;
  background-color: #e2d1d1;
  border-radius: 4rem;
  text-align: center;
}
.pc-contenedor-text-int-subtitulo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font: 2.5rem;
  background: linear-gradient(to right, #8f4f4f 0%, #9c7575 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 1000;
}
.pc-contenedor-text-int-boton {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.pc-contenedor-text-int-boton-int {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: none;
  background: #d4b4b4;
  color: #8f4f4f;
  width: 15rem;
  border-radius: 4rem;
  padding: 1rem;
}
.pc-contenedor-text-int-boton-int:hover {
  transition: all 0.5s;
  background: linear-gradient(to right, #8f4f4f 0%, #9c7575 100%);
  color: #e2d1d1;
}

.envios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6rem 0;
}
.envios-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  padding: 3rem 0;
  width: 100rem;
  font-weight: 1000;
  background: linear-gradient(to right, #8f4f4f 0%, #9c7575 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-align: center;
}
.envios-borde {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #8f4f4f 0%, #9c7575 100%);
  z-index: 1;
  width: 65rem;
  height: 50rem;
  border-radius: 4rem;
  box-shadow: 0.5rem 0.5rem 2rem #9c7575;
}
.envios-borde-contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #e2d1d1;
  padding: 2rem 3rem;
  width: 64.6rem;
  height: 49.6rem;
  border-radius: 4rem;
}
.envios-borde-contenedor-map {
  border-radius: 4rem;
}

.contacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6rem 0;
}
.contacto-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 1000;
  background: linear-gradient(to right, #8f4f4f 0%, #9c7575 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding: 2rem 0;
  text-align: center;
}
.contacto-borde {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #8f4f4f 0%, #9c7575 100%);
  z-index: 1;
  border-radius: 2rem;
  width: 95rem;
  height: 75rem;
  box-shadow: 0.5rem 0.5rem 2rem #9c7575;
}
.contacto-borde-ext {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 94.6rem;
  height: 74.6rem;
  background-color: #e2d1d1;
  border-radius: 2rem;
}
.contacto-borde-ext-cont1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 95rem;
  height: 30rem;
  gap: 5rem;
}
.contacto-borde-ext-cont1-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  width: 50rem;
  height: 30rem;
}
.contacto-borde-ext-cont1-form-tipo1, .contacto-borde-ext-cont2-form-tipo3, .contacto-borde-ext-cont2-form-tipo2 {
  border-radius: 1rem;
  border: none;
  padding: 0 1rem;
  background-color: #d4b4b4;
  color: #8f4f4f;
  width: 50rem;
  height: 4rem;
}
.contacto-borde-ext-cont1-img {
  width: 26rem;
  height: 26rem;
}
.contacto-borde-ext-cont1-img-int {
  width: 25rem;
  height: 25rem;
}
.contacto-borde-ext-cont1-img-int:hover {
  width: 25.5rem;
  height: 25.5rem;
  transition: all 0.5s;
}
.contacto-borde-ext-cont2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 95rem;
  height: 35rem;
  column-gap: 2rem;
}
.contacto-borde-ext-cont2-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  width: 110rem;
  height: 35rem;
  column-gap: 2rem;
}
.contacto-borde-ext-cont2-form-tipo2 {
  width: 80rem;
  height: 25rem;
}
.contacto-borde-ext-cont2-form-tipo3 {
  width: 20rem;
  height: 5rem;
  border: none;
  background: #d4b4b4;
  color: #8f4f4f;
}
.contacto-borde-ext-cont2-form-tipo3:hover {
  transition: all 0.5s;
  background: linear-gradient(to right, #8f4f4f 0%, #9c7575 100%);
  color: #e2d1d1;
}

::-webkit-scrollbar {
  width: 0;
}

#nombre::placeholder {
  color: #8f4f4f;
}

#mail::placeholder {
  color: #8f4f4f;
}

#cel::placeholder {
  color: #8f4f4f;
}

#mensaje::placeholder {
  color: #8f4f4f;
}

@media only screen and (max-width: 645px) {
  /* General */
  footer {
    font-size: 1.5rem;
  }
  /* Index */
  .titulo-int {
    font-size: 2rem;
  }
  /* Tortas Personalizadas */
  .tp-text {
    font-size: 1.5rem;
  }
  /* Postres Clasicos */
  .pc-contenedor {
    padding: 3rem;
  }
  .al_reves {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .pc-contenedor-img {
    width: 30rem;
    height: 20rem;
    margin-bottom: 4rem;
  }
  .pc-contenedor-text {
    width: 30rem;
    height: 20rem;
  }
  .pc-contenedor-text-int {
    width: 29.6rem;
    height: 19.6rem;
    font-size: 1rem;
    padding: 1rem 2rem;
  }
  .pc-contenedor-text-int-subtitulo {
    font-size: 1.5rem;
  }
  /* Envios */
  .envios {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
  }
  .envios-text {
    font-size: 2rem;
    padding: 1rem 0;
    width: 25rem;
    text-align: center;
  }
  .map {
    width: 28rem;
    height: 18rem;
  }
  .envios-borde {
    width: 30.6rem;
    height: 20.6rem;
  }
  .envios-borde-contenedor {
    width: 30rem;
    height: 20rem;
  }
  /* Contacto */
  .contacto-text {
    font-size: 2rem;
  }
  .contacto-borde {
    width: 30rem;
    height: 70rem;
  }
  .contacto-borde-ext {
    width: 29.6rem;
    height: 69.6rem;
  }
  .contacto-borde-ext-form {
    width: 25rem;
    height: 65rem;
    font-size: 1rem;
  }
  .contacto-borde-ext-form-tipo1 {
    width: 25rem;
    height: 3.5rem;
  }
  .contacto-borde-ext-form-tipo2 {
    width: 25rem;
    height: 30rem;
  }
  .contacto-borde-ext-form-tipo3 {
    width: 5rem;
  }
}
@media only screen and (min-width: 645px) and (max-width: 879px) {
  /* General */
  footer {
    font-size: 1.5rem;
  }
  /* Index */
  .titulo-int {
    font-size: 4rem;
  }
  /* Tortas Personalizadas */
  .tp-text {
    font-size: 2rem;
  }
  /* Postres Clasicos */
  .pc-contenedor {
    padding: 4rem;
  }
  .al_reves {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .pc-contenedor-img {
    width: 40rem;
    height: 30rem;
    margin-bottom: 4rem;
  }
  .pc-contenedor-text {
    width: 40rem;
    height: 30rem;
  }
  .pc-contenedor-text-int {
    width: 39.6rem;
    height: 29.6rem;
    font-size: 1.5rem;
    padding: 1rem 2rem;
  }
  .pc-contenedor-text-int-subtitulo {
    font-size: 2rem;
  }
  /* Envios */
  .envios-text {
    font-size: 2.5rem;
    padding: 1rem 0;
    width: 50rem;
    text-align: center;
  }
  /* Contacto */
  .contacto-text {
    font-size: 3rem;
  }
  .contacto-borde {
    width: 60rem;
    height: 100rem;
  }
  .contacto-borde-ext {
    width: 59.6rem;
    height: 99.6rem;
  }
  .contacto-borde-ext-form {
    width: 55rem;
    height: 95rem;
    font-size: 2rem;
  }
  .contacto-borde-ext-form-tipo1 {
    width: 55rem;
    height: 5rem;
  }
  .contacto-borde-ext-form-tipo2 {
    width: 55rem;
    height: 40rem;
  }
  .contacto-borde-ext-form-tipo3 {
    width: 12rem;
  }
}
@media only screen and (min-width: 879px) and (max-width: 1320px) {
  /* General */
  footer {
    font-size: 1.5rem;
  }
  /* Index */
  .titulo-int {
    font-size: 4rem;
  }
  /* Tortas Personalizadas */
  .tp-text {
    font-size: 2rem;
  }
  /* Postres Clasicos */
  .pc-contenedor {
    padding: 4rem;
  }
  .pc-contenedor-img {
    width: 40rem;
    height: 30rem;
    margin-bottom: 4rem;
  }
  .pc-contenedor-text {
    width: 40rem;
    height: 30rem;
  }
  .pc-contenedor-text-int {
    width: 39.6rem;
    height: 29.6rem;
    font-size: 1.5rem;
    padding: 1rem 2rem;
  }
  .pc-contenedor-text-int-subtitulo {
    font-size: 2rem;
  }
  /* Contacto */
  .contacto-text {
    font-size: 3rem;
  }
  .contacto-borde {
    width: 80rem;
    height: 100rem;
  }
  .contacto-borde-ext {
    width: 79.6rem;
    height: 99.6rem;
  }
  .contacto-borde-ext-form {
    width: 75rem;
    height: 95rem;
    font-size: 2rem;
  }
  .contacto-borde-ext-form-tipo1 {
    width: 75rem;
    height: 5rem;
  }
  .contacto-borde-ext-form-tipo2 {
    width: 75rem;
    height: 40rem;
  }
  .contacto-borde-ext-form-tipo3 {
    width: 15rem;
  }
}

/*# sourceMappingURL=style.css.map */
