
/* GENERAL */

* {
    margin: 0; /* sacamos el argen por defecto */
    padding: 0; /* sacamos el padding por defecto */
    box-sizing: border-box; /* al agregarle padding a un elemento no ocupa mas espacio, resta del ya existente */
}

html {
    font-size: 62.5%;
}

img {
    width: 100%;
}

:root {
    --arcoiris: linear-gradient(to right, #8f4f4f 0%, #9c7575 100%);
}

/* HEADER */

img.logo {
    width: 18rem;
}

.encabezado {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    width: 100rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 1000;
    background: linear-gradient(to right, #8f4f4f 0%, #9c7575 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.nav-link:hover {
    font-weight: 1000;
    background: #c9afaf;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/* CONTENIDO DE LA PAGINA */

section {
    background-color: white;
}

/* FOOTER */

footer {
    display: flex;
    flex-wrap: wrap;
    height: 30rem;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    color: #d4b4b4;
    font-size: 2rem;
    background: linear-gradient(to right, #8f4f4f 0%, #9c7575 100%);
    .copy {
        padding: 2rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .rs {
        padding: 2rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icon {
        padding: 0 1rem;
    }
    .links {
        color: #d4b4b4;
    }
    .info {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

/*************************************************************************************************************************************************************************************/

/* INDEX */

.slide {
    padding-top: 2rem;
}

.contenedor1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.titulo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 5rem 0;
    font-size: 6rem;
    font-weight: bold;
    background: linear-gradient(to right, #8f4f4f 0%, #9c7575 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.parte1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.torta {
    display: flex;
    flex-wrap: wrap;
    width: 40rem;
}

/* TORTAS PERSONALIZADAS */

.tp {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
}

.parrafo2 {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    background: linear-gradient(to right, #8f4f4f 0%, #9c7575 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 1000;
    text-align: center;
    padding: 2rem 3rem;
}

.marcado {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    background: linear-gradient(to right, #8f4f4f 0%, #9c7575 100%);
    font-weight: 1000;
    text-decoration: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.imagen2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* POSTRES CLASICOS */

.parte3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 6rem 6rem;
}

.subtitulo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 3.5rem;
    background: linear-gradient(to right, #8f4f4f 0%, #9c7575 100%);
    font-weight: 1000;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.imagen3 {
    display: flex;
    flex-wrap: wrap;
    width: 60rem;
    height: 50rem;
    padding: 2rem 3rem;
}

.parrafo3 {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    width: 59.6rem;
    height: 49.6rem;
    padding: 2rem 3rem;
    color: black;
    background: white;
    border-radius: 4rem;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.contenedor3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #8f4f4f 0%, #9c7575 100%);
    z-index: 1;
    border-radius: 4rem;
    width: 60rem;
    height: 50rem;
}

.ext_boton {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.boton {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
    background: linear-gradient(to right, #8f4f4f 0%, #9c7575 100%);
    color: #c9afaf;
    width: 20rem;
    border-radius: 4rem;
    padding: 1rem 2rem;
} 

/* ENVIOS */

.envios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
}

.parrafo4 {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    justify-content: center;
    text-align: center;
    padding: 3rem;
    background: linear-gradient(to right, #8f4f4f 0%, #9c7575 100%);
    font-weight: 1000;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.borde_mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #8f4f4f 0%, #9c7575 100%);
    z-index: 1;
    width: 65rem;
    height: 50rem;
}

.contenedor4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 64.6rem;
    height: 49.6rem;
    padding: 2rem 3rem;
}

/* CONTACTO */

.parrafo5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    background: linear-gradient(to right, #8f4f4f 0%, #9c7575 100%);
    font-weight: 1000;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding: 2rem 0;
}

.borde_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #8f4f4f 0%, #9c7575 100%);
    z-index: 1;
    border-radius: 2rem;
    width: 120rem;
    height: 130rem;
}

.ext_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 119.6rem;
    height: 129.6rem;
    background-color: #c9afaf;
    border-radius: 2rem;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    width: 110rem;
    height: 120rem;
}

.contacto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 0;
}

.tipo1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 110rem;
    height: 6rem;
    border-radius: 1rem;
    padding: 1rem;
    border: none;
    background: linear-gradient(to right, #8f4f4f 0%, #9c7575 100%);
    color: #c9afaf;
}

.tipo2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 110rem;
    height: 40rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    border: none;
    background: linear-gradient(to right, #8f4f4f 0%, #9c7575 100%);
    color: #c9afaf;
}

.tipo3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 20rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    border: none;
    background: linear-gradient(to right, #8f4f4f 0%, #9c7575 100%);
    color: #c9afaf;
}


/* Media queries */
@media only screen and (max-width: 645px) {

    /* General */

    footer {
        font-size: 1.5rem;
    }

    /* Index */

    .titulo {
        font-size: 2rem;
    }

    /* Tortas Personalizadas */

    .parrafo2 {
        font-size: 1.5rem;
    }

    /* Postres Clasicos */

    .parte3 {
        padding: 3rem;
    }

    .al_reves {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .imagen3 {
        width: 30rem;
        height: 20rem;
        margin-bottom: 4rem;
    }

    .contenedor3 {
        width: 30rem;
        height: 20rem;
    }

    .parrafo3 {
        width: 29.6rem;
        height: 19.6rem;
        font-size: 1rem;
        padding: 1rem 2rem;
    }

    .subtitulo {
        font-size: 1.5rem;
    }

    /* Envios */

    .envios {
        display: flex;
        justify-content: center;
        padding: 3rem 0;
    }

    .parrafo4{
        font-size: 2rem;
        padding: 1rem 0;
    }

    .map {
        width: 28rem;
        height: 18rem;
    }

    .borde_mapa {
        width: 30.6rem;
        height: 20.6rem;
    }

    .contenedor4 {
        width: 30rem;
        height: 20rem;
    }

    /* Contacto */

    .parrafo5 {
        font-size: 2rem;
    }

    .borde_form {
        width: 30rem;
        height: 70rem;
    }

    .ext_form {
        width: 29.6rem;
        height: 69.6rem;
    }

    form {
        width: 25rem;
        height: 65rem;
        font-size: 1rem;
    }

    .tipo1 {
        width: 25rem;
        height: 3.5rem;
    }

    .tipo2 {
        width: 25rem;
        height: 30rem;
    }

    .tipo3 {
        width: 5rem;
    }

}

@media only screen and (min-width: 645px) and (max-width: 879px) {

    /* General */

    footer {
        font-size: 1.5rem;
    }

    /* Index */

    .titulo {
        font-size: 4rem;
    }

    /* Tortas Personalizadas */

    .parrafo2 {
        font-size: 2rem;
    }

    /* Postres Clasicos */

    .parte3 {
        padding: 4rem;
    }

    .al_reves {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .imagen3 {
        width: 40rem;
        height: 30rem;
        margin-bottom: 4rem;
    }

    .contenedor3 {
        width: 40rem;
        height: 30rem;
    }

    .parrafo3 {
        width: 39.6rem;
        height: 29.6rem;
        font-size: 1.5rem;
        padding: 1rem 2rem;
    }

    .subtitulo {
        font-size: 2rem;
    }

    /* Contacto */

    .parrafo5 {
        font-size: 3rem;
    }

    .borde_form {
        width: 60rem;
        height: 100rem;
    }

    .ext_form {
        width: 59.6rem;
        height: 99.6rem;
    }

    form {
        width: 55rem;
        height: 95rem;
        font-size: 2rem;
    }

    .tipo1 {
        width: 55rem;
        height: 5rem;
    }

    .tipo2 {
        width: 55rem;
        height: 40rem;
    }

    .tipo3 {
        width: 12rem;
    }

}

@media only screen and (min-width: 879px) and (max-width: 1320px) {

    /* General */

    footer {
        font-size: 1.5rem;
    }

    /* Index */

    .titulo {
        font-size: 4rem;
    }

    /* Tortas Personalizadas */

    .parrafo2 {
        font-size: 2rem;
    }

    /* Postres Clasicos */

    .parte3 {
        padding: 4rem;
    }

    .imagen3 {
        width: 40rem;
        height: 30rem;
        margin-bottom: 4rem;
    }

    .contenedor3 {
        width: 40rem;
        height: 30rem;
    }

    .parrafo3 {
        width: 39.6rem;
        height: 29.6rem;
        font-size: 1.5rem;
        padding: 1rem 2rem;
    }

    .subtitulo {
        font-size: 2rem;
    }

    /* Contacto */

    .parrafo5 {
        font-size: 3rem;
    }

    .borde_form {
        width: 80rem;
        height: 100rem;
    }

    .ext_form {
        width: 79.6rem;
        height: 99.6rem;
    }

    form {
        width: 75rem;
        height: 95rem;
        font-size: 2rem;
    }

    .tipo1 {
        width: 75rem;
        height: 5rem;
    }

    .tipo2 {
        width: 75rem;
        height: 40rem;
    }

    .tipo3 {
        width: 15rem;
    }

}