
@mixin flex($wrap, $justify, $align, $direction) {

    display: flex;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;

}

@mixin gradiente {

    background: linear-gradient(to right, $color1 0%, $color2 100%);

}

@mixin color_fuente {

    @include gradiente;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

@mixin sizes($width, $height) {

    width: $width;
    height: $height;
    
}