
//colores

$color1: #8f4f4f;
$color2: #9c7575;
$color3: #d4b4b4;
$principal_background_color: white;

//tipografia

$tipografia_principal: 'Montserrat', sans-serif;

//weight font

$principal_weight_font: 1000;

//mapas

$font_sizes: (

    xxs: 1.5rem,
    xs: 2rem,
    s: 2.5rem,
    m: 3rem,
    l: 3.5rem,
    xl: 6rem,
    
);
