
.contacto {

    @include flex(wrap, center, center, column);
    padding: 6rem 0;

    &-text {

        @include flex(wrap, center, center, null);
        font-family: $tipografia_principal;
        font-size: map-get($map: $font_sizes, $key: m);
        font-weight: $principal_weight_font;
        @include color_fuente;
        padding: 2rem 0;
        text-align: center;

    }

    &-borde {

        @include flex(wrap, center, center, null);
        @include gradiente;
        z-index: 1;
        border-radius: 2rem;
        @include sizes(95rem, 75rem);
        box-shadow: 0.5rem 0.5rem 2rem $color2;

        &-ext {

            @include flex(wrap, center, center, column);
            @include sizes(94.6rem, 74.6rem);
            background-color: $color4;
            border-radius: 2rem;

            &-cont1 {

                @include flex(wrap, center, center, row);
                @include sizes(95rem, 30rem);
                gap: 5rem;

                &-form {

                    @include flex(wrap, center, center, column);
                    font-size: map-get($map: $font_sizes, $key: s);
                    font-family: $tipografia_principal;
                    @include sizes(50rem, 30rem);
    
                    &-tipo1 {
    
                        border-radius: 1rem;
                        border: none;
                        padding: 0 1rem;
                        background-color: $color3;
                        color: $color1;
                        @include sizes(50rem, 4rem);
        
                    }
    
                }
    
                &-img {
    
                    @include sizes(26rem, 26rem);

                    &-int {

                        @include sizes(25rem, 25rem);

                        &:hover {

                            @include sizes(25.5rem, 25.5rem);
                            transition: all 0.5s;

                        }

                    }

    
                }

            }

            &-cont2 {

                @include flex(wrap, center, center, row);
                @include sizes(95rem, 35rem);

                &-form {

                    @include flex(wrap, center, center, column);
                    font-size: map-get($map: $font_sizes, $key: s);
                    font-family: $tipografia_principal;
                    @include sizes(110rem, 35rem);
                    column-gap: 2rem;

                    &-tipo2 {
        
                        @extend .contacto-borde-ext-cont1-form-tipo1;
                        @include sizes(80rem, 25rem);
        
                    }
        
                    &-tipo3 {
        
                        @extend .contacto-borde-ext-cont1-form-tipo1;
                        @include sizes(20rem, 5rem);
                        border: none;
                        background: $color3;
                        color: $color1;
                        padding: 0 1rem;
    
                        &:hover {
    
                            transition: all 0.5s;
                            @include gradiente;
                            color: $color4;
    
                        }
        
                    }

                }

            }

        }

    }

}

::-webkit-scrollbar {
    @include sizes(0, null);
}

#nombre::placeholder {

    color: $color1;

   }

#mail::placeholder {

    color: $color1;

}

#cel::placeholder {

    color: $color1;

}

#mensaje::placeholder {

    color: $color1;

   }