
.tp {

    @include flex(wrap, center, center, column);
    padding: 6rem;

    &-text {

        font-family: $tipografia_principal;
        font-size: map-get($map: $font_sizes, $key: m);
        @include color_fuente;
        font-weight: $principal_weight_font;
        padding: 2rem 3rem;
        text-align: center;

    }

    &-ext {

        @include flex(wrap, center, center, null);
        @include sizes(100rem, 54rem);

        &-img {

            @include sizes(0, null);
            flex-grow: 1;
            object-fit: cover;
            opacity: .8;
            transition: .5s ease;

            &:hover {

                @include sizes(30rem, null);
                opacity: 1;
                filter: contrast(120%);

            }

        }

    }

}