
.tp {

    @include flex(wrap, center, center, column);
    padding: 6rem;

    &-text {

        @include sizes(150rem, null);
        font-family: $tipografia_principal;
        font-size: map-get($map: $font_sizes, $key: s);
        @include color_fuente;
        font-weight: $principal_weight_font;
        padding: 2rem;
        text-align: center;

        &-cont {

            background: $color1;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            font-weight: $principal_weight_font;

            &:hover {

                background: $color5;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;

            }

        }

    }

    &-carousel {

        visibility: hidden;
        position: absolute;

    }

    &-ext {

        @include flex(wrap, center, center, null);
        @include sizes(140rem, 54rem);

        &-img {

            @include sizes(0, 50rem);
            flex-grow: 1;
            object-fit: cover;
            opacity: 0.8;
            transition: 0.5s ease;

            &:hover {

                @include sizes(30rem, null);
                opacity: 1;
                filter: contrast(120%);

            }

        }

    }

}