
.tp {

    @include flex(wrap, center, center, column);
    padding: 6rem;

    &-text {

        font-family: $tipografia_principal;
        font-size: map-get($map: $font_sizes, $key: m);
        @include color_fuente;
        font-weight: $principal_weight_font;
        padding: 2rem 3rem;
        text-align: center;

    }

}