
//general

* {
    margin: 0; /* sacamos el argen por defecto */
    padding: 0; /* sacamos el padding por defecto */
    box-sizing: border-box; /* al agregarle padding a un elemento no ocupa mas espacio, resta del ya existente */
}

html {
    font-size: 62.5%;
}

img {
    width: 100%;
}

//header

.encabezado {
    @include flex(wrap, space-around, center, null);

    img.logo {
        @include sizes(18rem, null);
    }

    .menu {
        @include flex(wrap, space-around, center, null);
        font-family: $tipografia_principal;
        @include sizes(100rem, null);
        font-size: map-get($map: $font_sizes, $key: s);

        .nav-link {
            @include color_fuente;
            font-weight: $principal_weight_font;
            text-decoration: none;
            font-size: map-get($map: $font_sizes, $key: s);
            &:hover {
                background: $color3;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
            }

    }

}
}

//section

section {
    background-color: $principal_background_color;
}

//footer

footer {
    @include flex(wrap, null, null, column);
    @include sizes(null, 30rem);
    font-family: $tipografia_principal;
    color: $color3;
    font-size: map-get($map: $font_sizes, $key: xs);
    @include gradiente;
    .copy {
        padding: 2rem 0;
        @include flex(wrap, center, center, null);
        text-align: center;
    }
    .rs {
        @extend .copy;
        &-icon {
            padding: 0 1rem;
            &-links {
                color: $color3;
            }
        }  
    }
    .info {
        @include flex(wrap, center, null, null);
        text-align: center;
    }
}
