
//general

* {
    margin: 0; /* sacamos el argen por defecto */
    padding: 0; /* sacamos el padding por defecto */
    box-sizing: border-box; /* al agregarle padding a un elemento no ocupa mas espacio, resta del ya existente */
}

html {
    font-size: 62.5%;
}

img {
    width: 100%;
}

//header

.encabezado {

    @include flex(wrap, space-around, center, null);
    @include gradiente;

    img.logo {

        @include sizes(12rem, null);

    }

    .menu {

        @include flex(wrap, space-around, center, null);
        font-family: $tipografia_principal;
        @include sizes(100rem, null);
        font-size: map-get($map: $font_sizes, $key: xxs);

        .nav-link {

            color: $color3;
            font-weight: $principal_weight_font;
            font-size: map-get($map: $font_sizes, $key: xs);

            &:hover {
                color: $color4;
            } 

    }

}

}

//section

section {

    background-color: $color3;
    
}

//footer

footer {

    @include flex(wrap, null, null, column);
    @include sizes(null, 30rem);
    font-family: $tipografia_principal;
    color: $color3;
    font-size: map-get($map: $font_sizes, $key: xs);
    @include gradiente;

    .cont {

        @include flex(wrap, center, center, row);
        @include sizes(null, 25rem);
        gap: 40rem;

        &-logo {

            @include sizes(16rem, 16rem);

            &-int {

                @include sizes(15rem, 15rem);

                &:hover {

                    @include sizes(15.5rem, 15.5rem);
                    transition: all 0.5s;

                }

            }

        }

        &-rs {

            @extend .copy;

            &-icon {

                padding: 0 1rem;

                &-links {

                    color: $color3;

                    &:hover {

                        color: $color4;
                        transition: all 0.5s;

                    }

                }

            }  

        }
        &-info {

            @include flex(wrap, center, null, null);
            text-align: center;

        }

    }

    .copy {

        @include flex(wrap, center, center, null);
        text-align: center;

    }

}
